@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .selected-cassette {
    color: red;
    background-color: antiquewhite;
    tranform: rotate3d(1, 1, 1, 45deg);
  }
}
